<!DOCTYPE html> 
<html lang="es">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Ornitólogia Web</title>
    </head>
    <header>
        <h1>Union de Ornitólogia - CC5002</h1>
    </header>
    <body class="inicio-body">
        <ul class="NavBar">
            <li><a href="{{ url_for('vista_aves') }}"> Registra tu avistamiento</a></li>
            <li><a href="{{ url_for('register') }}"> Crea una cuenta</a></li>
        </ul><br>
        <h1>Bienvenido. Te invitamos a crearte una cuenta y registrar tus avistamientos</h1>
        <h2>Registros recientes en el sistema:</h2>

        <div id="lista-avistamientos" class="registro-containers">
            {% for a in avistamientos %}
            <div class="avistamiento-card">
                <h3>{{ a.ave.nombre }}</h3>
                <p><span class="etiqueta">Lugar: </span>{{ a.lugar }}</p>
                <p><span class="etiqueta">Fecha: </span>{{ a.fecha_hora.strftime("%d-%m-%Y - %H:%M") }}</p>
                <p><span class="etiqueta">Registrado por: </span>{{ a.voluntario.nombre }}</p>

                {% if a.registros %}
                <div class="galeria">
                    {% for r in a.registros %}
                    <img src="{{ url_for('static', filename=r.ruta_archivo) }}" alt="{{ a.ave.nombre }}">
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% else %}
            <p>Aún no hay avistamientos registrados.</p>
            {% endfor %}
        </div>
        <div id="lista-avistamientos" class="registro-containers"></div>
        <script src="{{ url_for('static', filename='js/InicioAvesFiltro.js') }}"></script>
    </body>