<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Avistamientos</title>
    </head>
    
    <body class="registro_body">
        <header>
            <h1>Registra tu avistamiento</h1>
        </header>

        <ul class="NavBar">
            <li><a href="{{ url_for('index') }}"> Inicio</a></li>
            <li><a href="{{ url_for('register') }}"> Crea una cuenta</a></li>
        </ul><br>

        <div class="registro-containers">
        <form class="bird-container" id="form-ave" method="post" enctype="multipart/form-data" action="{{ url_for('vista_aves') }}"
            data-registro-url="{{ url_for('register') }}" novalidate>
            <p id="form-msg" class="error-msg"></p>

            <h2>Informacion del ave</h2>
            <div class="input-control">
            <label for="tipo-ave">Tipo de ave*</label>
            <input type="text" id="tipo-ave" list="list-tipo" name="tipo-ave" placeholder="Rapaz, marina ..." ><br>
            <datalist id="list-tipo">
                <option value="Marina"></option>
                <option value="Acuática"></option>
                <option value="Rapaz"></option>
                <option value="Cantora"></option>
                <option value="No voladora"></option>
                <option value="Urbano"></option>
            </datalist>
            </div>

            <div class="input-control">
                <label for="nombre-ave">Nombre del ave</label>
                <select id="nombre-ave" name="ave_id">
                    <option value="">Selecciona un ave</option>
                    {% for a in aves %}
                    <option value="{{ a.id }}">{{ a.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <h2>Informacion del avistamiento</h2>
            <div class="input-control">
            <label for="lugar-avist">Zona del avistamiento*</label>
            <input type="text" name="lugar" id="lugar"><br>
            </div>

            <div class="input-control">
            <label for="fecha-avist">Fecha del avistamiento*</label>
            <input type="date" name="fecha-avist" id="fecha-avist"><br>
            </div>

            <div class="input-control">
            <label for="hora-avist">Hora del avistamiento*</label>
            <input type="time" name="hora-avist" id="hora-avist"><br>
            </div>

            <div class="input-control">
            <label for="imagen-avist">Imagen del avistamiento</label>
            <input type="file" name="imagen-avist" id="imagen-avist" multiple accept="image/jpeg,image/png,image/gif,image/webp" ><br>
            </div>
            <button id="submit_btn" type="submit">Enviar avistamiento</button><br>
        </form>
        </div>
        <script src="{{ url_for('static', filename='js/VistaAves.js') }}"></script>
    </body>
</html>